<!DOCTYPE html>
<html>
  <head>
    <title>Disaster Streaming News</title>
  </head>
  <body>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <div id="showme">
    </div>
    <script src='/_ah/channel/jsapi'></script>
    <script>
           
           channel = new goog.appengine.Channel('{{ token }}');
           socket  = channel.open();
           socket.onmessage = function(m){
	        p = JSON.parse(m.data);
	        elemdata = "<div>" + p.handler + " [ " + p.timestamp +" ] : " + p.text  + " loc = (" + p.lat + "," + p.lon + ") </div>"
	        $("#showme").append(elemdata)
           };
    </script>
    
  </body>
</html>
